%message{
  padding: 50px;
  font-size: 30px;
  margin: 50px;
  border: 5px solid black;
}

.success{
  @extend %message;
  background-color: green;
}

.alert{
  @extend %message;
  background-color: orange;
}

.error{
  @extend %message;
  background-color: red;
}

.success:hover{
    //@extend %message;
  background-color: darkgreen;
}

.alert:hover{
  background-color: darkorange;
}

.error:hover{
  background-color: darkred;
}